*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #250057;
}
.input_box{
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}
.input_box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 24px;
    color: #555;
}
.input_box img{
    width: 50px;
    cursor: pointer;
}